.ChatRoom {
    height: 100vh;
    margin: 0;
    background-color: #1d1d1d;
}

.ChatRoom-name {
    display: flex;
    color: #575fd8;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    height: 80px;
}

.received {
    background-color: #1d1d1d;
}


.ChatRoom-msgs {
    position: relative;
    height: 600px;
    padding: 20px;
    background-color: #242424;
    color: whitesmoke;
    border-radius: 15px;
    box-shadow: 3px 3px .5em .01em #474eaf, -3px -3px .5em .01em #474eaf, inset 0px 0px .4em #2e2e2e;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: auto;
}

.ChatRoom-msg-parent {
    border-bottom: solid 1px gray;
    position: relative;
}

.ChatRoom-msg-txt {
    padding: 10px;
    width: fit-content;
    width: calc(100% - 20px);
    margin: 10px 10px;
}

.ChatRoom-thread-link {
    color: rgb(20, 149, 255);
    letter-spacing: 1px;
    
}

.ChatRoom-thread-link:hover {
    text-decoration: underline;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.397);
    border-radius: 5px;
    background-color: #242424;
}

.ChatRoom-msg-actions {
    position: absolute;
    display: flex;
    /* visibility: hidden; */
    right: 0px;
    top: -15px;
    background-color: #1d1d1d;
    color: lightgrey;
    border: 1px solid #8282825e;
    border-radius: 5px;
}

/* .ChatRoom-msg-txt:hover ~ .ChatRoom-msg-actions {
    visibility: visible;
}

.ChatRoom-msg-actions:hover {
    visibility: hidden;
} */

.isTypingDiv {
    position: absolute;
    bottom: 15px;
    color: #a0a0a0;
    font-weight: bold;
    letter-spacing: 3px;
}