.GlobalNav-container {
  height: 10vh;
  width: 100vw;
  background-color: var(--secondary_dark);
  color: white;
  display: flex;
  justify-content: center;
}

.GlobalNav-div {
  padding: 0px;
  margin: 0px;
  display: flex;
}
